<div class="draw__handle">&#xf077;</div>
<div class="draw__body content__collection">
    <header class="draw__header content__header">
        <h1 class="draw__title content__title"><%= title %></h1>
    </header>
    <div class="content__list">
        <div class="content__before">

        </div>
        <div class="content__main">

        </div>
        <div class="content__after">
            <ul class="content__links">
                <% if (disabledgo) { %>
                <li><a href="<%= disabledgo %>"><i class="kf-wheelchair"></i> <span>Accessibility - DisabledGo.com</span></a></li>
                <% } %>
            </ul>
        </div>
    </div>
    <span class="scroll-to-top kf-chevron-up"></span>
</div>