<div>
	<ul>
		<li data-action="/page/6">About the University <i class='kf-chevron-right'></i></li>
		<li data-action="/page/7">Student experience <i class='kf-chevron-right'></i></li>
		<li data-action="/page/1">How do I use this App? <i class='kf-chevron-right'></i></li>
		<li id="tour_control_item" data-trigger="backToMenu"><span class='tour_control'>Start a tour</span> <i class='kf-chevron-right'></i></li>
		<li data-action="/page/2">Credits <i class='kf-chevron-right'></i></li>
		<li data-action="/page/4">Contact us / Feedback <i class='kf-chevron-right'></i></li>
	</ul>
</div>
